[submodule "wallpapers"]
	path = wallpapers
	url = https://github.com/TorchedSammy/walls
[submodule "libs/extrautils"]
	path = libs/extrautils
	url = https://github.com/ReadyWidgets/awesome-extrautils
[submodule "libs/rubato"]
	path = libs/rubato
	url = https://github.com/andOrlando/rubato
