[submodule ".config/awesome/wallpapers"]
	path = .config/awesome/wallpapers
	url = https://github.com/TorchedSammy/walls
[submodule ".config/awesome/modules/bling"]
	path = .config/awesome/modules/bling
	url = https://github.com/Nooo37/bling/
[submodule ".config/awesome/modules/awesome-switcher"]
	path = .config/awesome/modules/awesome-switcher
	url = https://github.com/troglobit/awesome-switcher
[submodule ".config/awesome/freedesktop"]
	path = .config/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop
[submodule ".config/lite-xl/widget"]
	path = .config/lite-xl/widget
	url = https://github.com/jgmdev/lite-xl-widgets
[submodule ".config/lite-xl/plugins/console"]
	path = .config/lite-xl/plugins/console
	url = https://github.com/lite-xl/console
[submodule ".config/lite-xl/plugins/finder"]
	path = .config/lite-xl/plugins/finder
	url = https://github.com/takase1121/lite-xl-finder
[submodule ".config/lite-xl/plugins/gitdiff_highlight"]
	path = .config/lite-xl/plugins/gitdiff_highlight
	url = https://github.com/TorchedSammy/lite-xl-gitdiff-highlight
[submodule ".config/lite-xl/plugins/litepresence"]
	path = .config/lite-xl/plugins/litepresence
	url = https://github.com/TorchedSammy/litepresence
