[submodule ".config/awesome/wallpapers"]
	path = .config/awesome/wallpapers
	url = https://github.com/TorchedSammy/walls
[submodule ".config/awesome/modules/bling"]
	path = .config/awesome/modules/bling
	url = https://github.com/Nooo37/bling/
[submodule ".config/awesome/modules/awesome-switcher"]
	path = .config/awesome/modules/awesome-switcher
	url = https://github.com/troglobit/awesome-switcher
[submodule ".config/awesome/freedesktop"]
	path = .config/awesome/libs/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop
[submodule ".config/lite-xl/widget"]
	path = .config/lite-xl/widget
	url = https://github.com/jgmdev/lite-xl-widgets
[submodule ".config/awesome/modules/rubato"]
	path = .config/awesome/modules/rubato
	url = https://github.com/andOrlando/rubato
[submodule ".config/awesome/libs/awesome-switcher"]
	path = .config/awesome/libs/awesome-switcher
	url = https://github.com/troglobit/awesome-switcher
[submodule ".config/awesome/libs/rubato"]
	path = .config/awesome/libs/rubato
	url = https://github.com/andOrlando/rubato
[submodule ".config/awesome/libs/bling"]
	path = .config/awesome/libs/bling
	url = https://github.com/Nooo37/bling/
[submodule ".config/awesome/modules/extrautils"]
	path = .config/awesome/libs/extrautils
	url = https://github.com/ReadyWidgets/awesome-extrautils
[submodule ".config/awesome/libs/succulent"]
	path = .config/awesome/libs/succulent
	url = https://github.com/Rosettea/Succulent
[submodule ".config/awesome/surface_filters"]
	path = .config/awesome/libs/surface_filters
	url = https://github.com/ReadyWidgets/surface_filters
[submodule ".config/awesome/libs/awexygen"]
	path = .config/awesome/libs/awexygen
	url = https://github.com/xinhaoyuan/awexygen
[submodule ".config/awesome/libs/liblua_pam"]
	path = .config/awesome/libs/liblua_pam
	url = https://github.com/RMTT/lua-pam
